:root {
  --color1: #0927ae;
  --color2: #f8002c;
  --color3: #af15ad;
  --color4: #fbe029;
  --color5: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Ubuntu", sans-serif;
  min-width: 375px;
}

/*      header      */
.header__container {
  background-color: var(--color1);
  width: 100%;
  height: 150px;
  position: sticky;
  top: 0px;
  z-index: 3;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1360px;
}
.head__group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.header__logo {
  width: 15%;
  margin-top: 10px;
}
.header__nombre {
  width: 18%;
  margin-top: 10px;
}

.nav__container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav__list {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  list-style: none;
}

.nav__link {
  color: var(--color5);
  text-decoration: none;
  padding: 10px;
  font-size: 25px !important;
}

.nav__link:hover {
  font-weight: bold;
}

/*       main BG    */

.main__container {
  position: relative;
}

.container__bg {
  min-width: 375px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #bd35bb6e;
  background-image: url(../imagenes/logoTR.png);
  background-position: center;
  background-repeat: space;
  border: 3px solid blue;
  opacity: 0.3;
  z-index: -1;
}

/*       main index    */

.main__list {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.main__link {
  background-color: var(--color1);
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  width: 25%;
  margin: 0 auto;
  padding: 15px;
}

.main__link:hover {
  color: var(--color4);
}

/*      main index      */
.hero {
  padding-top: 50px;
}

/*    main empresa    */

/*    main productos    */

.productos__title {
  padding: 30px 0 20px;
  color:  #3a1cac;
}
.libreria__title,
.jugueteria__title,
.fotocopias__title,
.fotocopias__texto {
  color:  #3a1cac;
}
.libreria__title{
  font-size: 30px;
  padding-top: 30px;
}
.jugueteria__title{
  font-size: 30px;
 margin-top: 10px;
}
.fotocopias__title{
  font-size: 30px;
  margin-top: 30px;
}
.fotocopias__texto{
  font-size: 20px;
}
.productos__libreria {
  width: 40%;
  height: 30%;
  margin: 20px 30px;
  font-size: 30px;
}
.productos__jugueteria {
  width: 40%;
  height: 30%;
  margin: 20px 30px;
}


.productos__juguetes1 {
  width: 35%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}
.productos__fotocopias1 {
  width: 30%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}
.productos__fotocopias2 {
  width: 30%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}

/*    main cotizar    */

.cotizar__container {
  font-size: 19px;
  padding: 30px 0 40px;
  color: #3a1cac;
}

.cotizar__casilleros{
  color: #3a1cac;
}
.cotizar__title {
  font-size: 30px;
  margin-bottom: 30px;
  color: #3a1cac;
}
#presupuesto {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.grupo1 {
  width: 50%;
}
#descargarPDF {
  display: none;
}
/*    main contacto    */

.contacto__container {
  min-width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 40px;
}

.contacto__title {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #3a1cac;
}

.contacto {
  width: 45%;
  color: #3a1cac;
}
iframe {
  width: 45%;
}

/*  MAIN EMPRESA */

.empresa__main__title{
  font-size: 30px;
  padding-top: 30px;
  color: #3a1cac;
}

.empresa__texto {
  font-size: 20px;
  margin-top: 30px;
  color: #3a1cac;
  text-align: justify;
  padding-left: 25px;
  padding-right: 25px;
}
.container__foto{
  display: flex;
  justify-content: center;
  
}
.empresa__foto {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 50px 0 60px 0;
 
 

}

.empresa__foto2 {
  width: 35%;
  padding: 50px 0 60px 0;
  margin-left: 10%;
  margin-right: 20px;
}

/*      footer      */

.footer__container {
  background-color: var(--color3);
  width: 100%;
  height: 180px;
}
.footer__subContainer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  color: black;
  font-size: 19px;
}

.footer__logo img {
  height: 100%;
}

.footer__datos {
  display: flex;
  height: 100%;
  align-items: center;
}

.footer__redes {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.footer__redes i,
.footer__redes a,
.footer__datos a {
  text-decoration: none;
  color: black;
}

.footer__datos a:hover:hover,
.footer__redes a:hover:hover {
  font-size: 20px;
  color: var(--color1);
  font-weight: bolder;
}

.footer__creditos {
  text-decoration: none;
  color: rgb(209, 209, 209);
  padding: 6px;
  text-align: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--color1);
}
.footer__creditos a {
  color: rgb(209, 209, 209);
}

.footer__creditos a:hover {
  font-size: 20px;
  text-decoration: none;
  color: var(--color4);
  font-weight: bolder;
}
@media (max-width: 1024px) {
  .header__container {
    width: 100%;
    height: 120px;
  }

  .nav__link {
    padding: 10px;
    font-size: 18px !important;
  }
  /*       main index    */

  .main__list {
    padding: 6px;
  }
  .main__link {
    font-size: 1.5rem;
    border-radius: 15px;
    width: 25%;
    padding: 10px;
  }

  /*      cotizar   */

  #comentarios {
    width: 90%;
  }
  #pedido {
    width: 90%;
  }

  /*      footer    */

  .footer__subContainer {
    height: 170px;
    font-size: 13px;
  }
  .footer__logo img {
    height: 100%;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .header__container {
    position: static;
  }
}
@media (max-width: 640px) {
  .header__container {
    width: 100%;
    height: 70px;
  }
  .head__group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    justify-content: space-around;
  }
  .nav__container {
    padding-left: 5px;
  }

  .nav__link {
    font-size: 13px !important;
    padding: 5px;
  }
  .header__logo {
    display: none;
  }
  /*       main index    */

  .main__link {
    font-size: 0.9rem;
  }

  /*      cotiar      */

  #presupuesto {
    display: block;
  }

  /*       main contacto   */

  .contacto__container {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  iframe {
    height: 20%;
  }

  /*      footer    */

  .footer__subContainer {
    height: 150px;
    font-size: 11px;
  }
  .footer__logo img {
    display: none;
  }

  .footer__creditos {
    padding: 6px;
    font-size: 13px;
  }

  .footer__creditos a:hover {
    font-size: 14px;
  }
}
