:root {
  --color1: #0927ae;
  --color2: #f8002c;
  --color3: #af15ad;
  --color4: #fbe029;
  --color5: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Ubuntu", sans-serif;
  min-width: 375px;
}

/*      header      */
.header__container {
  background-color: var(--color1);
  width: 100%;
  height: 150px;
  position: sticky;
  top: 0px;
  z-index: 3;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1360px;
}
.head__group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  justify-content: space-between;
}

.header__logo {
  width: 15%;
  margin-top: 10px;
}
.header__nombre {
  width: 18%;
  margin-top: 10px;
}

.nav__container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav__list {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  list-style: none;
  font-size: 1.5em;
}

.nav__link {
  color: var(--color5);
  text-decoration: none;
  padding: 20px;
}

.nav__link:hover {
  font-weight: bold;
}

/*       main BG    */

.main__container {
  position: relative;
}
.productos__libreria1 {
  width: 40%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}
.productos__libreria2 {
  width: 40%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}
.productos__juguetes1 {
  width: 30%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}
.productos__fotocopias1 {
  width: 30%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}
.productos__fotocopias2 {
  width: 30%;
  padding: 50px 0 60px 0;
  margin-left: 50px;
  margin-right: 45px;
}

.container__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #bd35bb6e;
  background-image: url(../imagenes/logoTR.png);
  background-position: center;
  background-repeat: space;
  border: 3px solid blue;
  opacity: 0.3;
  z-index: -1;
}

/*       main index    */

.main__list {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.main__link {
  background-color: var(--color1);
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  width: 25%;
  margin: 0 auto;
  padding: 15px;
}

.main__link:hover {
  color: var(--color4);
}

/*      main index      */
.hero {
  padding-top: 50px;
}

/*    main empresa    */

/*    main productos    */

/*    main cotizar    */

.cotizar__container {
  padding-top: 50px;
  font-size: 20px;
  padding: 40px 0 40px;
}
.cotizar__title {
  font-size: 30px;
  margin-bottom: 30px;
  color: #0927ae;
}

/*    main contacto    */

.contacto__title {
  font-weight: bolder;
  margin-left: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #0927ae;
}

div form {
  margin-left: 60px;
  text-align: justify;
}

.contacto__container {
  color: #3a1cac;
  float: left;
}
.mapa {
  padding-bottom: 50px;
  padding-left: 100px;
}

/*  MAIN EMPRESA */

.empresa__main__title1 {
  padding-top: 40px;
  color: #3a1cac;
}
.empresa__main__title2 {
  margin-top: 30px;
  color: #3a1cac;
}
.empresa__texto {
  font-size: 22px;
  margin-top: 30px;
  color: #3a1cac;
  text-align: justify;
}
.empresa__foto {
  width: 35%;
  padding: 50px 0 60px 0;
  margin-left: 8%;
  margin-right: 70px;
}

.empresa__foto2 {
  width: 35%;
  padding: 50px 0 60px 0;
  margin-left: 10%;
  margin-right: 20px;
}

/*      footer      */

.footer__container {
  background-color: var(--color3);
  width: 100%;
  height: 180px;
}
.footer__subContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
  height: 160px;
}
.footer__logo img {
  width: 220px;
  height: 160px;
  margin-left: -35px;
}

.footer__datos {
  font-size: 16px;
  line-height: 40px;
  margin-top: 10px;
}

.llamado {
  font-size: 20px;
  color: black;
}

.redes__sociales {
  font-size: 20px;
  line-height: 0px;
  margin-top: 40px;
  color: black;
}

.informacion {
  font-size: 16px;
  line-height: 30px;
  color: black;
}
.footer__redes i,
.footer__redes a {
  font-size: 16px;
  text-decoration: none;
  margin-top: 0px;
}

.footer__creditos {
  text-decoration: none;
  margin-top: 20px;
  color: rgb(209, 209, 209);
  padding: 6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: rgb(7, 7, 124, 0.925);
}
.footer__creditos a {
  color: rgb(209, 209, 209);
}

.footer__creditos a:hover {
  font-size: 16px;
  text-decoration: none;
  color: var(--color4);
  font-weight: bolder;
}
@media (max-width: 1024px) {
  .header__container {
    background-color: red;
    width: 100%;
    height: 120px;
  }

  .nav__list {
    font-size: 1.3em;
  }

  .nav__link {
    padding: 5px;
  }
  /*       main index    */

  .main__list {
    padding: 6px;
  }
  .main__link {
    font-size: 1.4rem;
    border-radius: 15px;
    width: 25%;
    padding: 10px;
  }
}
@media (max-width: 640px) {
  .header__container {
    background-color: green;
    width: 100%;
    height: 80px;
  }
  .head__group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    justify-content: space-around;
  }
  .nav__container {
    padding-left: 30px;
  }
  .nav__list {
    font-size: 0.9em;
  }

  .nav__link {
    padding: 0.9px;
  }
  .header__logo {
    display: none;
  }
  /*       main index    */

  .main__link {
    font-size: 1rem;
  }
}
