:root {
  --color1: #3a1cac;
  --color2: #f8002c;
  --color3: #bd35bb;
  --color4: #fbe029;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.header__container {
  background-color: var(--color1);
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1360px;
}
.head__group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title__container {
  display: block;
  text-align: center;
  margin-left: 12%;
}
.header__title {
  font-size: 70px;
  font-weight: bold;
  border: 1px solid black;
}
.header__subtitle {
  margin-top: 20px;
  font-size: 40px;
}
.header__logo {
  width: 20%;
  margin-top: 20px;
  border: 1px solid black;
}

.nav__container {
  display: flex;

  justify-content: center;
}
.nav__list {
  display: flex;
  list-style: none;
  font-size: 25px;
  padding: 20px;
  justify-content: space-between;
  border: 1px solid black;
}

.nav__link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.nav__link:hover {
  font-weight: bold;
}
